%button{
    border-radius: 3px;  
    padding: 12px 15px 12px 15px;  
    background-color: #8bc34a;  
    border: 0;  
    min-width: 110px;  
    font-family: "SegoeUI SemiBold";  
    font-size: 16px;  
    color: #FFFFFF;
    margin-top:10px;
}

.primary1{
    @extend %button;
    background-color: #8bc34a;  
    color: #FFFFFF;  
    border: 1px solid #8bc34a;  
        &:hover{
        background-color: red;  
        color: #FFFFFF;  
        border: 1px solid #9dce5d; 
    }
}

.primary2{
    @extend %button;
    background-color: #8bc34a;  
    color: #FFFFFF;  
    border: 1px solid #8bc34a; 
        &:hover{
        background-color: #eeeeee;  
        color: #999999;  
        border: 1px solid #eeeeee; 
        cursor: not-allowed;

    }
}

.secondary1{
    @extend %button;
    background-color: #FFFFFF;  
    color: #2095f2;  
    border: 1px solid #2095f2; 
        &:hover{
        background-color: #2095f2;  
        color: #FFFFFF;  
        border: 1px solid #2095f2; 
    }
}

.secondary2{
    @extend %button;
    background-color: #8bc34a;  
    color: #FFFFFF;  
    border: 1px solid #8bc34a; 
        &:hover{
        background-color: #ffffff;  
        color: #999999;  
        border: 1px solid #cccccc; 
        cursor: not-allowed;

    }
}

